<header role="header">
  <h1>WordCloud</h1>
</header>
<section role="main">
  <div class="row">
    <div class="col-sm-8">
      <svg id="wordcloud" width="800" height="600"></svg>
    </div>
    <div class="col-sm-4">
      <section id="meta"></section>
    </div>
  </div>
</section>
